<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>PAGE_2</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!--google fonts  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Fontawesome -->
    <script src="https://kit.fontawesome.com/652ef9acc4.js" crossorigin="anonymous"></script>
    <!-- bootstrap links -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <!-- our css and js -->
    <link href="./sih.js">
    <!--google fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;800&display=swap" rel="stylesheet">
    <style>
        .navbar-toggler:focus,
.navbar-toggler:active {
    outline: 0;
}

/* hide close when burger shown */
html{
  scroll-behavior: smooth;
}
.navbar-toggler.collapsed .close-icon {    
    display: none;
}

.navbar-toggler:not(.collapsed) .navbar-toggler-icon {
    display: inline;

}
.nav-link:hover{
    background-color:#8f88ee;
}
.nav-link{
    color:white;
}
#butn{
    text-align: center;
    margin-left: 43%;

}
#butn:hover{
    background-color: #0000FE	;
}
#fa {
    padding: 10px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }
  
  .fa-google {
    background: #dd4b39;
    color: white;
  }
  
  .fa-linkedin {
    background: #007bb5;
    color: white;
  }
  .fa-instagram {
    background: #125688;
    color: white;
  }
  .bg-coral{
    background-color:#99bbff;
  }
    </style>
</head>
<body style="background-color:#E6E6FA">
    <div class="head,container">
      <div class="row">
        <img src="https://pensionersportal.gov.in/img/emblem1.png" class="col-sm-1" alt="A Picture here" class="d-inline-block align-text-top" style="width: 10% ; height: 100px;">
        <h2 class="col-sm-6" style="margin-top:2.5%">Ministry of Rural Development</h2>
      </div>
    </div>
    <nav class="navbar  navbar-expand-lg bg-coral navbar-light">
        
        <button class="navbar-toggler collapsed border-0" type="button" data-toggle="collapse" data-target="#collapsingNavbar">
            <span class="navbar-toggler-icon"></span>
            <div class="close-icon py-1">✖</div>
        </button>
        <div class="collapse navbar-collapse" id="collapsingNavbar" style="display:flex; flex-grow:2">
            <ul class="nav navbar-nav" style="margin-left:67%;font-family: 'Montserrat', sans-serif;">
              <li class="nav-item">
                <a class="nav-link" href="/home/"><i class="fa fa-home">&nbsp;<b></i>HOME</b></a>
            </li>
                
                <li class="nav-item">
                    <a class="nav-link" href="/db"><b>DATABASE</b></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#cont"><b>CONTACT</b></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="login.html"><i class="fa fa-user">&nbsp;</i><b>LOGOUT</b></a>
              </li>           
                
            </ul>
        </div>
</nav>


  
          
      </div>
    </div>
  </div>


<div class="row" id="home" style="margin-top:2%">
  <div class="col-sm-6 " >
    <div style="background-color:bisque;" class="card" >
      <div class="card-body" style="border:2px solid rgb(11, 11, 75)">
        <h5 class="card-title" align="center">Pension Portal</h5>
        <p class="card-text">

          In our pension portal there are three different types of pensions<br> 
          1.Indira Gandhi National oldage pension scheme<br>
          2.Indira Gandhi National widow pension scheme<br>
          3.Indira Gandhi National disability pension scheme<br>
          Then two options are displayed and the user can select all states or a particular state.
          If input is all state,then fetching details of people
          who are elgibile for the given pension is done.
          
          If input is multiple states,fetching details of poeple from 
          nopension who are elgibile for the given pension and resides
          in any of the given state
          
          If the input is all areas,fetching details of poeple who are elgibile and 
          resides in the given state.
          A particular area is selected by entering the pincode and fetching details of people
          who are elgibile and resides in the given specified area.
          
          Final result contains list of individuals who are elgible and yet not
          covered for the given pension.
          <br></p>
        
      </div>
    </div>
  </div>

  <div class="col-sm-6">
    <div class="card">
      <div class="card-body" style="border:2px solid rgb(11, 11, 75);height:56vh">
        <h5 class="card-title" align="center">RECEIVING PENSIONS</h5>
        <img src="https://www.researchgate.net/profile/Parikshit-Chakraborty/publication/328523082/figure/fig2/AS:705420255559681@1545196703172/Pie-chart-shows-the-types-of-Receiving-Pension.png" style="height:90%;width:90%;margin-left:6%" >
      </div>
    </div>
  </div>
</div>  
<br>
 
<a href="/check/"><button  id="butn" type="button" class="btn btn-dark btn-lg">Click here for Portal</button></a><br><br>
<ul style="font-size:20px">
  <li><a href="/search_aadhar/">Click here to check eligibility through aadhar</a></br></li>
  <li><a href="/check/">Click here to view people eligible for pension and not recieving it</a></br></li>
  <li><a href="/db">Click here to view databases</a></li>
  <li><a href="/duplicate/">Click here for Duplicate data</a></li>
</ul>
  <section id="aboutus" class="white-section" ></section>

</div><br>
<nav>
<h2 style="text-align:center" id="cont">Contact</h2><br>


<div class="flex-box" style="display:flex; justify-content:center;">
<a href="https://www.facebook.com/" class="fa fa-facebook" id="fa"></a>
<a href="https://twitter.com/i/flow/login" class="fa fa-twitter" id="fa"></a>
<a href="https://mail.google.com/mail/u/0/#inbox" class="fa fa-google" id="fa"></a>
<a href="https://in.linkedin.com/" class="fa fa-linkedin" id="fa"></a>
<a href="https://www.instagram.com/?hl=en" class="fa fa-instagram" id="fa"></a>
</div>
</nav>
</body>
</html>