<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link href="./sih.js">
    <link rel="stylesheet" href="new.css">
</head>
<body>
    <nav class="navbar bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="" alt="" class="d-inline-block align-text-top">Smart India Hackathon</a>
    </div>
</nav> 
<nav class="navbar navbar-expand-lg bg-black">
    <div class="container-fluid">
        <div class="form" action="">
      <a class="navbar-brand text-white" href="#">HACK_ELITE</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
        </div>
    <form class="d-flex" role="search"></form>
      <div class="collapse navbar-collapse " id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active text-white" aria-current="page" href="#home">Home</a>
          </li>
          <li class="nav-item">
            <a  class="nav-link active text-white" href="#aboutus">About Us</a>
          </li>
          <li class="nav-item ">
            <a class="nav-link active text-white" href="#con">CONTACT</a>
          </li>
        </ul>
      </div>
      </form>
    </div>
  </nav>
  <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://nsap.nic.in/homepage/img/sliders/banner2.jpg" style="width:100% ;height:300px" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://englishnews.reporterstoday.com/wp-content/uploads/2019/06/MPY-NSAP.jpg" style="width:100% ;height:300px" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://diademy.com/wp-content/uploads/2021/03/National-Social-Assistance-Programme.png" style="width:100% ;height:300px" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
</div>
    <section id="aboutus" class="white-section" id="pricing">
        <h2 class="section-heading" align="center">ABOUT US</h2>
        <div class="row abt">
            <div class="pricing-column col-lg-6">
                <div class="card">
                  <div class="card-body">
                    <h2 class="price-text"></h2>
                    <p id=p1 style="color:green;">The National Social Assistance Programme (NSAP) is a welfare programme being administered by the Ministry of Rural Development. This programme is being implemented in rural areas as well as urban areas. 
                        NSAP represents a significant step towards the fulfilment of the Directive Principles of State Policy enshrined in the Constitution of India which enjoin upon the State to undertake within its means a number 
                        of welfare measures. These are intended to secure for the citizens adequate means of livelihood, raise the standard of living, improve public health, provide free and compulsory education for children etc. 
                        In particular, Article 41 of the Constitution of India directs the State to provide public assistance to its citizens in case of unemployment, old age, sickness and disablement and in other cases of undeserved 
                        want within the limit of its economic capacity and development. It is in accordance with these noble principles that the Government of India on 15th August 1995 included the National Social Assistance Programme 
                        in the Central Budget for 199596. The Prime Minister in his broadcast to the Nation on 28th July 1995 announced that the programme will come into effect from 15th August 1995.</p>
                  </div>
                </div>
            </div>
        </div>
    </section>    
</div>
<footer class="white-section" id="con">
    <nav class="navbar nav-contact bg-light  " >
        <div class="container-fluid">
            <p id="conta" style="text-align: center">CONTACT</p><br>
        </div>
        <div class="icon">
            <span class="ic">
                <i  class="fa fa-instagram" style="font-size:24px"></i>
            </span>
            <span class="ic">
                <i class="fa  fa-facebook" style="font-size:24px" ></i>
            </span>
            <span class="ic">
                <i class="fa  fa-twitter" style="font-size:24px" ></i>
            </span>
            <span class="ic"> 
        <i class="fa  fa-linkedin" style="font-size:24px" ></i>
            </span>
            <span class="ic"> 
        <i class="material-icons">&#xe0be;</i>
            </span>
        </div>
    </nav> 
  </footer>    
</body>
</html>