<html>
    <head>
         <!-- Google fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
                <style>
                    body{
            background-image: linear-gradient(to right,lightblue,#f2f2f2);
                    }
                    th{
            font-family: 'Montserrat', sans-serif; ;
        }
        h1{
            font-family: 'Roboto', sans-serif;
        }
                </style>
    </head>
    <body>
       
        <h1 align="center">Output Details</h1>
        <a href="/add_other/"><button >Add record</button></a>
        <table border="1">
            <tr>
                <th> Aadhar number
                </th>
                <th>Name</th>
                <th>Income</th>
                <th>Date of Birth</th>
                <th>State</th>
                <th>Pincode</th>
                <th>Disability status</th>
                <th>Gender</th>
                <th>Status</th>
                <th>Widow</th>
                <th>BPL Family Id</th>
                <th>EPIC Id</th>
                <th>Faulty</th>
            </tr>
            {% for x in  page.object_list %}
            <tr>
                <td>{{ x.aadhar }}</td>
                <td>{{ x.Name }}</td>
                <td>{{ x.income }}</td>
                <td>{{ x.Dob }}</td>
                <td>{{ x.state }}</td>
                <td>{{ x.pincode }}</td>
                <td>{{ x.disability }}</td>
                <td>{{ x.gender }}</td>
                <td>{{ x.status }}</td>
                <td>{{ x.widow}}</td>
                <td>{{ x.bpl_family_id }}</td>
                <td>{{ x.EPIC_id}}</td>
                <td>{{ x.faulty }}</td>
                <td><a href="/edit_other/{{ x.id }}/">Edit</a></td>
            </tr>
            {% endfor %}
        </table>
        <div class="pagination">
            <span class="step-links">
                {% if page.has_previous %}
                    <a href="?page=1">&laquo;
                        first  </a><br>
                    <a href="?page={{ page.previous_page_number }}">previous</a>
                {% endif %}
        
                <span class="current">
                    Page {{ page.number }} of {{ page.paginator.num_pages }}.
                </span>
        
                {% if page.has_next %}
                    <a href="?page={{ page.next_page_number }}">next </a><br>
                    <a href="?page={{ page.paginator.num_pages }}">last &raquo;</a><br>
                {% endif %}
            </span>
        </div>

        <a href="/db" ><button>Back</button> </a>
    </body>
</html>