<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>checking bootstrap</title>
    <!-- bootstrap links -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <style>
        .card-body:hover{
            background-color: gray;
        }
        body{
            margin-left:12%;
            background-color: aliceblue;
        }
    
    </style>
</head>
<body align="center">

<div class="container-fluid">
    <div class="row">


        <div class="col-lg-2">
           
               

        </div>
        <form method="POST">{% csrf_token%}
        <div style="margin-right:5% ;" class="col-lg-7">
            <img  class="card-img-top" src="https://keralakaumudi.com/web-news/en/2022/05/NMAN0336218/image/aadhar.1.1644839.jpg" style="width:100%; height:30%; margin-top:2%;" alt="Card image cap">
            <div class="card-body">
                <p>We can input Aadhar number and find the candidates details regarding pension.If already enrolled it shows receiving pension else if person is not receiving any pension, it will show pensions the person is eligible for. We can also find if there are any duplicacies; multiple entries in database.</p></div>
                <h3  style="text-align: center;" >Enter Aadhar Number :</h3>
                <input style="margin-left: 29%;height:6% ;" type="text" name="aadhar_no" id="adhar_no">
                <input style="margin-bottom: 1%;" type="submit" class="btn btn-primary" value="Submit">

        </div>

    </br>
    <center>
    {% if messages%}
            {% for res in messages %}
            {{res}}
            {% endfor %}
            {% endif %}</form></center>
    
    </div>
</div>

    <div class="card" style="width:fit-content; background-color:aliceblue ;">
       
    
        </div>
      </div>
    
</body>
</html>