
<p>Pension type :</p>
        <select name="pension" id="pension" style="border: solid 1px #ced4da;border-radius: 4px;height:30px ;">
            <option value="1">IGNOAPS</option>
            <option value="2">IGNWPS</option>
            <option value="3">IGNDPS</option>
        </select><br>
<div name="sub_pension" id="sub_pension" style="visibility:hidden ;height:1%">
<p>Sub Pension type :</p>
<input type="radio" value="0" name="subpension">Below 80 years
<input type="radio" value="1" name="subpension">Above 80 years 
<input type="radio" value="all" name="subpension">Both 
</div>



